body, html{
    font-family: sans-serif;
}

table, td, th{
    border: 1px solid rgb(44, 43, 43);

}
table{
    border-collapse: collapse;
    width: 100%;
}
th{
    height: 30px;

}
td{
    text-align: center;
    padding: 5px;
}