<html>
    <head>
        <meta charset="utf-8">
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">   
     </head>
    <body style="text-align: center">
        <h1>Hello Admin!</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Class</th>
                <th>Year</th>
                <th>City</th>
                <th>Country</th>
                <th></th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.Class }}</td>
                <td>{{ task.year }}</td>
                <td>{{ task.city }}</td>
                <td>{{ task.country }}</td>
                <td></td>
                <td>
                    <a href="{{ url_for('edit', id = task.id)}}">Edit</a>
                    <a href="{{url_for('delete', id = task.id)}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
    </table>
    </body>
</html>
